<div
  id="hardwareContent"
  class="pl-0 pr-0 col-12 flex-wrap justify-content-start" style="display: flex;"
>
  <div class="p-2 col-12 col-lg-6 justify-content-center">
    <div class="card col-12 p-2" style="background: #e5e5e5">
      <h6 style="border-bottom: 1px solid #8f8b8b">Estado dos tickets</h6>
      <canvas
        style="max-height: 250px"
        id="hardwareDoughtnutEstadoTicket"
      ></canvas>
    </div>
  </div>
  <div class="p-2 col-12 col-lg-6 justify-content-center">
    <div class="card col-12 p-2" style="background: #e5e5e5">
      <h6 style="border-bottom: 1px solid #8f8b8b">Estado dos atendimentos</h6>
      <canvas
        style="max-height: 250px"
        id="hardwareDoughtnutEstadoAtendimento"
      ></canvas>
    </div>
  </div>

  <div class="p-2 col-12 justify-content-center">
    <div class="card col-12 p-2" style="background: #e5e5e5">
      <h6 style="border-bottom: 1px solid #8f8b8b">
        Tickets resolvidos em menos de x dias
      </h6>
      <canvas
        style="max-height: 250px"
        id="hardwareCountTicketResolved"
      ></canvas>
    </div>
  </div>
</div>
