<div class="col-12 d-flex justify-content-between p-2 pr-3">
    <div
            class="col-6 mr-2 d-flex justify-content-center align-items-center divChartSelected"
            style="cursor: pointer"
            id="hardwareDiv"
            onclick="goToHardwareDiv()"
    >
        Hardware Tickets
    </div>
    <div
            class="col-6 ml-2 d-flex justify-content-center align-items-center"
            style="cursor: pointer"
            id="softwareDiv"
            onclick="goToHSoftwareDiv()"
    >
        Software Tickets
    </div>
</div>
