<!-- templates/tickets/lista_tickets.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Tickets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
         .btn {
            width: 10rem;
            height: 2rem;
            border-radius: 20px;
            border: 0;
            background-color: #902fcf;
            color: white;
            font-size: 1rem;
            text-decoration: none;
            cursor: pointer;
            transition: transform 0.3s ease;
        }.btn:hover {
            transform: scale(1.05);
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        .title {
            text-align: center;
            font-family: sans-serif;
            margin: 1rem;
        }
        .truncate {
            white-space: nowrap; /* Prevent text from wrapping */
            overflow: hidden; /* Hide overflowing text */
            text-overflow: ellipsis; /* Show ellipsis for truncated text */
            width: 175px; /* Adjust width as needed */
        }
        .iconSelected{
            border: 1px solid grey;
            background: #dadada;
            border-radius: 8px;
            color: #902fcf;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body style="background: #efefef;">
    <div style="display: flex; justify-content: space-between; width: 100%; margin-bottom: 2rem; align-items: center; background: #bebebe;">
        <div style="display: flex; gap: 1rem; cursor: pointer;" onclick="window.location='{% url 'lista_tickets' %}'">
            <h3 class="title">Tickets2Help</h3>
        </div>
    
        <div style="display: flex; flex-direction: row; gap: 1rem; margin-right: 1rem;">
            {% if user.is_authenticated %}
                <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn" style="font-family: sans-serif;
                    display: flex;
                    align-items: center;
                    justify-content: center;">Logout</button>
                </form>
            {% endif %}
            {% if user.is_staff %}
                <form id="logout-form" action="{% url 'admin:index' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn" style="font-family: sans-serif; display: flex;
                    align-items: center;
                    justify-content: center;">Área Admin</button>
                </form>
            {% endif %}
        </div>
    </div>

    <div class="card m-2 p-2" style="box-shadow: 0px 4px 7px">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="mr-3">Tickets</h3>
                <div class="mr-2 iconSelected" style="cursor: pointer;" id="tableIcon" onclick="changeToTableView()">
                    <i class="fa-solid fa-table"></i>
                </div>
                <div id="chartIcon" style="cursor: pointer;" onclick="changeToChartView()">
                    <i class="fa-solid fa-chart-area"></i>
                </div>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTicketModal" style="background: #50c450;
            display: flex;
            align-items: center;
            justify-content: center;">
                Criar Ticket
            </button>
        </div>
        <table class="mt-1" id="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Estado do Ticket</th>
                    <th>Estado do Atendimento</th>
                    <th>Tipo</th>
                    <th>Data de Criação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.id }}</td>
                        <td>
                            <div title="{{ ticket.title }}" class="truncate">
                                {{ ticket.title }}
                            </div>
                        </td>
                        <td>
                            <div title="{{ ticket.description }}" class="truncate">
                                {{ ticket.description }}
                            </div>
                        </td>
                        <td>{{ ticket.estado_ticket.nome }}</td>
                        <td>{{ ticket.estado_atendimento.nome }}</td>
                        <td>{{ ticket.tipo }}</td>
                        <td>{{ ticket.created_at }}</td>
                        <td>
                            {% if user.is_staff %}
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editarModal{{ ticket.id }}" onclick="editar_modal({{ ticket.id }}, '{{ ticket.tipo }}')">Editar</button>
                            {% endif %}
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#detalhesModal{{ ticket.id }}" onclick="detalhes_modal({{ ticket.id }}, '{{ ticket.tipo }}')">Detalhes</button>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7">Não há tickets.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        
    </div>

<!-- Modal -->
    <div class="modal fade" id="addTicketModal" tabindex="-1" aria-labelledby="addTicketModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addTicketModalLabel">Adicionar Ticket</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="addTicketForm" method="post" action="{% url 'adicionar_ticket' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="tipoTicket">Tipo de Ticket</label>
                                <select class="form-control" id="tipoTicket" name="tipoTicket" required>
                                    <option value="">Selecione um</option>
                                    <option value="software">Software</option>
                                    <option value="hardware">Hardware</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="title">Título</label>
                                <input type="text" class="form-control" id="title" name="title" required>
                            </div>
                            <div class="form-group">
                                <label for="description">Descrição</label>
                                <textarea class="form-control" id="description" name="description" required></textarea>
                            </div>
                            <div class="form-group" id="softwareFields" style="display: none;">
                                <label for="software">Software</label>
                                <input type="text" class="form-control" id="software" name="software">
                                <label for="necessidadeDesc">Descrição da Necessidade</label>
                                <textarea class="form-control" id="necessidadeDesc" name="necessidadeDesc"></textarea>
                            </div>
                            <div class="form-group" id="hardwareFields" style="display:none;">
                                <label for="equipamento">Equipamento</label>
                                <input type="text" class="form-control" id="equipamento" name="equipamento">
                                <label for="avaria">Avaria</label>
                                <textarea class="form-control" id="avaria" name="avaria"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Adicionar Ticket</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
    {% for ticket in tickets %}
        <div class="modal fade" id="detalhesModal{{ ticket.id }}" tabindex="-1" role="dialog" aria-labelledby="detalhesModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detalhesModalLabel">Detalhes do Ticket</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if tipo == 'software' %}
                        <p><strong>Título:</strong> {{ ticket.title }}</p>
                        <p><strong>Descrição:</strong> {{ ticket.description }}</p>
                        <p><strong>Criado:</strong> {{ ticket.created_at }}</p>
                        <p><strong>Estado do Ticket:</strong> {{ ticket.estado_ticket }}</p>
                        <p><strong>Estado do Atendimento:</strong> {{ ticket.estado_atendimento }}</p>
                        <p><strong>Software:</strong> {{ ticket.software }}</p>
                        <p><strong>Necessidade Desc:</strong> {{ ticket.necessidadeDesc }}</p>
                        <p><strong>Intervenção Desc:</strong> {{ ticket.intervencaoDesc }}</p>
                        <p><strong>User:</strong> {{ ticket.user }}</p>
                    {% elif tipo == 'hardware' %}
                        <p><strong>Título:</strong> {{ ticket.title }}</p>
                        <p><strong>Descrição:</strong> {{ ticket.description }}</p>
                        <p><strong>Criado:</strong> {{ ticket.created_at }}</p>
                        <p><strong>Estado do Ticket:</strong> {{ ticket.estado_ticket }}</p>
                        <p><strong>Estado do Atendimento:</strong> {{ ticket.estado_atendimento }}</p>
                        <p><strong>Equipamento:</strong> {{ ticket.equipamento }}</p>
                        <p><strong>Avaria:</strong> {{ ticket.avaria }}</p>
                        <p><strong>Reparação Desc:</strong> {{ ticket.reparacaoDesc }}</p>
                        <p><strong>Peças:</strong> {{ ticket.pecas }}</p>
                        <p><strong>User:</strong> {{ ticket.user }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
    {% if user.is_staff %}
        <!-- Modal de Edição -->
        {% for ticket in tickets %}
            <div class="modal fade" id="editarModal{{ ticket.id }}" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarModalLabel">Editar Ticket</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'editar_ticket' ticket.id|default:0 %}">
                            {% csrf_token %}
                            {% if tipo == 'software' %}
                                <p><strong>Título:</strong> {{ ticket.title }}</p>
                                <p><strong>Descrição:</strong> {{ ticket.description }}</p>
                                <p><strong>Criado:</strong> {{ ticket.created_at }}</p>
                                <div class="form-group">
                                    <label for="estado_ticket">Estado do Ticket:</label>
                                    <select class="form-control" id="estado_ticket" name="estado_ticket">
                                        {% for estado in estados_ticket %}
                                            <option value="{{ estado.id }}" {% if estado.id == ticket.estado_ticket.id %} selected {% endif %}>{{ estado.nome }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="estado_atendimento">Estado do Atendimento:</label>
                                    <select class="form-control" id="estado_atendimento" name="estado_atendimento">
                                        {% for estado in estados_atendimento %}
                                            <option value="{{ estado.id }}" {% if estado.id == ticket.estado_atendimento.id %} selected {% endif %}>{{ estado.nome }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <p><strong>Software:</strong> {{ ticket.software }}</p>
                                <p><strong>Necessidade Desc:</strong> {{ ticket.necessidadeDesc }}</p>
                                <div class="form-group">
                                    <label for="intervencaoDesc">Intervenção Desc:</label>
                                    <input type="text" class="form-control" id="intervencaoDesc" name="intervencaoDesc" value="{{ ticket.intervencaoDesc }}">
                                </div>
                                <p><strong>User:</strong> {{ ticket.user }}</p>
                            {% elif tipo == 'hardware' %}
                                <p><strong>Título:</strong> {{ ticket.title }}</p>
                                <p><strong>Descrição:</strong> {{ ticket.description }}</p>
                                <p><strong>Criado:</strong> {{ ticket.created_at }}</p>
                                <div class="form-group">
                                    <label for="estado_ticket">Estado do Ticket:</label>
                                    <select class="form-control" id="estado_ticket" name="estado_ticket">
                                        {% for estado in estados_ticket %}
                                            <option value="{{ estado.id }}" {% if estado.id == ticket.estado_ticket.id %} selected {% endif %}>{{ estado.nome }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="estado_atendimento">Estado do Atendimento:</label>
                                    <select class="form-control" id="estado_atendimento" name="estado_atendimento">
                                        {% for estado in estados_atendimento %}
                                            <option value="{{ estado.id }}" {% if estado.id == ticket.estado_atendimento.id %} selected {% endif %}>{{ estado.nome }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <p><strong>Equipamento:</strong> {{ ticket.equipamento }}</p>
                                <p><strong>Avaria:</strong> {{ ticket.avaria }}</p>
                                <div class="form-group">
                                    <label for="reparacaoDesc">Reparação Desc:</label>
                                    <input type="text" class="form-control" id="reparacaoDesc" name="reparacaoDesc" value="{{ ticket.reparacaoDesc }}">
                                </div>
                                <div class="form-group">
                                    <label for="pecas">Peças:</label>
                                    <input type="text" class="form-control" id="pecas" name="pecas" value="{{ ticket.pecas }}">
                                </div>
                                <p><strong>User:</strong> {{ ticket.user }}</p>
                            {% endif %}
                            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        function detalhes_modal(ticketId, tipo) {
            console.log('Detalhes modal clicado');
            var modal = $('#detalhesModal' + ticketId);
            $.ajax({
                url: '/detailsticket/' + tipo + '/' + ticketId + '/',
                success: function(data) {
                    console.log('Success:', data);
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
        
        function editar_modal(ticketId, tipo) {
            console.log('Detalhes modal clicado');
            var modal = $('#editarModal' + ticketId);
            $.ajax({
                url: '/editdetailsticket/' + tipo + '/' + ticketId + '/',
                success: function(data) {
                    console.log('Success:', data);
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }

        function changeToTableView() {
           document.getElementById('table').style = "display: initial;";
        //    document.getElementById('chart').style = "display: none;";
                document.getElementById('tableIcon').classList.add('iconSelected');
                document.getElementById('chartIcon').classList.remove('iconSelected');
        }
        function changeToChartView() {
           document.getElementById('table').style = "display: none;";
        //    document.getElementById('chart').style = "display: initial;";
            document.getElementById('tableIcon').classList.remove('iconSelected');
            document.getElementById('chartIcon').classList.add('iconSelected');
        }
    </script>
    
    <script>
        document.getElementById('tipoTicket').addEventListener('change', function() {
            var tipo = this.value;
            if (tipo === 'software') {
                document.getElementById('softwareFields').style.display = 'block';
                document.getElementById('hardwareFields').style.display = 'none';
            } else if (tipo === 'hardware') {
                document.getElementById('softwareFields').style.display = 'none';
                document.getElementById('hardwareFields').style.display = 'block';
            }
        });
    </script>
</body>
</html>
