<!-- templates/tickets/lista_tickets.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Tickets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
         .btn {
            width: 10rem;
            height: 2rem;
            border-radius: 20px;
            border: 0;
            background-color: #902fcf;
            color: white;
            font-size: 1rem;
            text-decoration: none;
            cursor: pointer;
            transition: transform 0.3s ease;
        }.btn:hover {
            transform: scale(1.05);
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        .title {
            text-align: center;
            font-family: sans-serif;
            margin: 1rem;
        }
    </style>
</head>
<body>
    <div style="display: flex; justify-content: space-between; width: 100%; margin-bottom: 2rem;">
        <div style="display: flex; gap: 1rem; cursor: pointer;" onclick="window.location='{% url 'lista_tickets' %}'">
            <h1 class="title">Tickets2Help</h1>
        </div>
    
        <div style="display: flex; flex-direction: column; gap: 1rem;">
            {% if user.is_authenticated %}
                <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn" style="font-family: sans-serif;">Logout</button>
                </form>
            {% endif %}
            </div>
    </div>
    <h2>Tickets</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTicketModal">
            Adicionar Ticket
    </button>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Descrição</th>
                <th>Estado do Ticket</th>
                <th>Estado do Atendimento</th>
                <th>Tipo</th>
                <th>Data de Criação</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.title }}</td>
                    <td>{{ ticket.description }}</td>
                    <td>{{ ticket.estado_ticket.nome }}</td>
                    <td>{{ ticket.estado_atendimento.nome }}</td>
                    <td>{{ ticket.tipo }}</td>
                    <td>{{ ticket.created_at }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">Não há tickets.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

<!-- Modal -->
        <div class="modal fade" id="addTicketModal" tabindex="-1" aria-labelledby="addTicketModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addTicketModalLabel">Adicionar Ticket</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="addTicketForm" method="post" action="{% url 'adicionar_ticket' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="tipoTicket">Tipo de Ticket</label>
                                <select class="form-control" id="tipoTicket" name="tipoTicket" required>
                                    <option value="software">Software</option>
                                    <option value="hardware">Hardware</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="title">Título</label>
                                <input type="text" class="form-control" id="title" name="title" required>
                            </div>
                            <div class="form-group">
                                <label for="description">Descrição</label>
                                <textarea class="form-control" id="description" name="description" required></textarea>
                            </div>
                            <div class="form-group" id="softwareFields" style="display:block;">
                                <label for="software">Software</label>
                                <input type="text" class="form-control" id="software" name="software">
                                <label for="necessidadeDesc">Descrição da Necessidade</label>
                                <textarea class="form-control" id="necessidadeDesc" name="necessidadeDesc"></textarea>
                            </div>
                            <div class="form-group" id="hardwareFields" style="display:none;">
                                <label for="equipamento">Equipamento</label>
                                <input type="text" class="form-control" id="equipamento" name="equipamento">
                                <label for="avaria">Avaria</label>
                                <textarea class="form-control" id="avaria" name="avaria"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Adicionar Ticket</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <script>
        document.getElementById('tipoTicket').addEventListener('change', function() {
            var tipo = this.value;
            if (tipo === 'software') {
                document.getElementById('softwareFields').style.display = 'block';
                document.getElementById('hardwareFields').style.display = 'none';
            } else if (tipo === 'hardware') {
                document.getElementById('softwareFields').style.display = 'none';
                document.getElementById('hardwareFields').style.display = 'block';
            }
        });
    </script>
</body>
</html>
